<style>
    .footer-clean{
        background-color: #000;
        margin-top: 30px;
    }
   .col-sm-4 h3{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffa900;
    padding: 20px;
    
   } 
   .col-sm-4 ul li a{
    font-size: 18px;
    color: #fff;;
    font-family: 'Times New Roman', Times, serif;
   }

</style>


<div class="footer-clean">
    <footer>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Menu</a></li>
                        <li><a href="#"> Contact Us</a></li>
                       
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Delivery</h3>
                    <ul>
                        <li><a href="#">Web development</a></li>
                        <li><a href="#">Rest Api</a></li>
                        <li><a href="#">Database Managemet</a></li>
                        <li><a href="#">Django</a></li>
                        <li><a href="#">Python</a></li>
                        <li><a href="#">Data Analytics</a></li>
                    </ul>
                </div>
               
                <div class="col-sm-4 col-md-3 item">
                  <h3>Address</h3>
                  <ul>
                      <li><a href="#">1750 Groesbeck st</a></li>
                      <li><a href="#">Gbagada </a></li>
                      <li><a href="">Email: nuel4xelence@gmail.com</a></li>
                      <li><a href="">Phone No: +2348079385255</a></li>
                     
                  </ul>
              </div>
            
            </div>
        </div>
    </footer>
  </div>

