{% extends 'navs/base.html' %}

{% block content %}

{% load widget_tweaks %}
{%load static%}

<style>
    h1 span{
    color: hsl(240, 67%, 47%);
    font-size: 30px;
    text-transform: uppercase;
    font-family: 700;
    font-family: 'Times New Roman', Times, serif;
    }
    input[type='text']{
        font-size: 30px;
        text-align: center;
        font-weight: 700;
      
    }
    .form-label{
        font-size: 22px;
        padding: 20px;
        text-align: right;
    }
   
   /* Center the button horizontally */
.button {
    text-align: center;
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
   
  
}
.button button{
    font-family: 700;
    text-transform: capitalize;
    width: 150px;
}
</style>

<div class="register">
    <div class="container">
        <div class="col-md-12">
            <h3 class="reg-form">Trading Page</h3>
            
             <h1>Welcome,<span> {{ user.first_name }} {{ user.last_name }} </span></h1>
           
        </div>
    </div>
</div>

<div class="container">
 
    <div class="row">
        <div class="form-group mb-4  col-md-6">
            <label class="form-label">Cuurent Balance: </label>
          <input type="text" placeholder="${{ user.trader.current_balance }}" readonly>
           
        </div>
    </div>
</div>

<div>
    <h1 class="td">Please wait for 1 minute after clicking the button below.</h1>
</div>

  




   
    <script>
        function confirmAndRedirect() {
            var confirmation = confirm("Are you sure you want to trade at this time?");
            if (confirmation) {

                // Redirect to the Django URL when confirmed
                window.location.href = "{% url 'business:platform' %}";
            } else {
                alert("Action canceled.");
            }
        }
    </script>



  <div class="button">
    <button class="btn btn-danger dropbtn press" onclick="confirmAndRedirect()">Press to trade</button>
</div>



{% include 'navs/footer.html' %}
{% endblock %}



